<form (ngSubmit)="changeRoute()">
  <span style="font-weight: bold">Select Person:&nbsp;</span>
  <input
    id="person"
    name="person"
    [(ngModel)]="selectedPerson"
    type="number"
  />&nbsp;
  <button type="submit">Get Person</button>
</form>
<app-people [peopleData]="personComponentData$ | async"></app-people>
<app-films [films]="(additionalApiData$ | async).films"></app-films>
<app-starships [ships]="(additionalApiData$ | async).ships"></app-starships>
<app-vehicles [vehicles]="(additionalApiData$ | async).vehicles"></app-vehicles>
